<div class="container-fluid mt-5 about-sryle" id ="">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading"id="logo1">Health Concerns</h1>
        <p class="text-center sub-heading"></p>
       <div class="row">
           

 <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                           <img src="../images\bone.png" alt="" width="300" height="200" >
                           </div>
                           <h2>Bone,joint & Muscle care</h2>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\stomach.png" alt="" width="300" height="200">
                           </div>
                           <h2>Stomach Care</h2>
                    
                        </div>
                    </div>
               </div>


 <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\firstaid.jpg" alt="" width="300" height="200">
                           </div>
                           <h2>First Aid</h2>
                        </div>
                    </div>
               </div>



            

            </div>
        </div>
     </div> 
{{!-- </div> --}}
        