<div class="container-fluid mt-5 about-sryle" id ="">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading"id="logo1">Healthcare Products</h1>
        <p class="text-center sub-heading"></p>
       <div class="row">
           

 <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                           <img src="../images\ayurved.png" alt="" width="300" height="200" >
                           </div>
                           <h2>Ayurveda</h2>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\imunity.png" alt="" width="300" height="200">
                           </div>
                           <h2>Immunity Boosters</h2>
                    
                        </div>
                    </div>
               </div>


 <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\oral.png" alt="" width="300" height="200">
                           </div>
                           <h2>Oral Care</h2>
                        </div>
                    </div>
               </div>




 <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                           <img src="../images\covid.png" alt="" width="300" height="200" >
                           </div>
                           <h2>Covid Test & preventation</h2>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\babycare.png" alt="" width="300" height="200">
                           </div>
                           <h2>Baby Care</h2>
                    
                        </div>
                    </div>
               </div>


 <div class="col-md-4">
               <div class="box1">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\vitamins.png" alt="" width="300" height="200">
                           </div>
                           <h2>Vitamins & Supplements</h2>
                        </div>
                    </div>
               </div>





            

            </div>
        </div>
     </div> 
{{!-- </div> --}}
        