
  <div class="container-fluid navbar-style py-3">
    <div class="row">
      <div class="col-md-20 col-25 mx-auto">





    <!-- Nav bar -->



         
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" id ="logo">VC LIC </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#homeid">Home <span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="D:\medical hall\templates\partials\maps.hbs">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#serviceid">services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#contactid">contact</a>
      </li>
    </ul>
    
  </div> 
</nav>


<section id= "home">
<h1 class="h-primary">Welcome to Maa jagdamba medical hall</h1>
</section>


<!-- Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/bg1.jpg" width="100%" height="500" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="images/bg2.jpg" width="100%" height="500" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="images/bg3.jpg" width="100%" height="500" class="d-block w-100" alt="...">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div> 


      </div>
    </div>
  </div>

