<div class="container-fluid mt-5 about-sryle" id ="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading"id="logo1">Our Services</h1>
        {{!-- <p class="text-center sub-heading">Grow ur bussiness with us</p> --}}
       <div class="row">
           


 <div class="col-md-4">
               <div class="box">
                   <div class="lic">
                       <div class="icon">
                         <img src="../images\lic.jpg" alt="" width="150" height="75">
                           </div>
                           <h2>LIC RELATED</h2>
                           <p><h4>New Policy</h4></p>
                           <p><h4>Revival of Lic Policy</h4></p>
                           <p><h4>Policy Bond</h4></p>
                           <p><h4>Policy Claims</h4></p>
                        </div>
                    </div>
               </div>




 <div class="col-md-4">
               <div class="box">
                   <div class="pharmacy">
                       <div class="icon">
                           <img src="../images\pharmacy.jpg" alt="" width="150" height="75" >
                           </div>
                           <h2>PHARMACY</h2>
                           <p><h4>Medicines</h4></p>
                           <p><h4>Compounding</h4></p>
                           <p><h4>Vacination</h4></p>
                           <p><h4>Early Screening and Testing</h4></p>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box">
                   <div class="labtest">
                       <div class="icon">
                          <img src="../images\labtest.png" alt="" width="150" height="75">
                           </div>
                           <h2>LAB TEST</h2>
                           <p><h4>Health check-ups</h4></p>
                           <p><h4>Blood Pressure Measurement</h4></p>
                           <p><h4>Diabetes Measurement</h4></p>
                           <p><h4>Cholestrol Measurement</h4></p>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box">
                   <div class="baby">
                       <div class="icon">
                           <img src="../images\babycare.jpg" alt="" width="150" height="75">
                           </div>
                           <h2>BABY CARE</h2>
                           <p><h4>Diapering</h4></p>
                           <p><h4>Baby Food</h4></p>
                           <p><h4>Weighing Machine</h4></p>
                           <p><h4>Baby Personal Care</h4></p>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box">
                   <div class="health">
                       <div class="icon">
                           <img src="../images\healthdevice.jpg" alt="" width="150" height="75">
                           </div>
                           <h2>HEALTH DEVICES</h2>
                           <p><h4>BP Moniters</h4></p>
                           <p><h4>Thermometers</h4></p>
                           <p><h4>Weighing Machine</h4></p>
                           <p><h4>Pregnancy Test Kit</h4></p>
                        </div>
                    </div>
               </div>

                <div class="col-md-4">
               <div class="box">
                   <div class="women">
                       <div class="icon">
                           <img src="../images\womencare.jpg" alt="" width="150" height="75">
                           </div>
                           <h2>WOMEN CARE</h2>
                           <p><h4>Feminine Care</h4></p>
                           <p><h4>Women Hygine</h4></p>
                           <p><h4>Sanitary Pads</h4></p>
                           <p><h4>Skin Care</h4></p>
                        </div>
                    </div>
               </div>


                <div class="col-md-4">
               <div class="box">
                   <div class="personal">
                       <div class="icon">
                          <img src="../images\personal.gif" alt="" width="150" height="75">
                           </div>
                           <h2>PERSONAL CARE</h2>
                           <p><h4>Hair Care</h4></p>
                           <p><h4>Oral Care</h4></p>
                           <p><h4>Men's Grooming</h4></p>
                           <p><h4>Skin Care</h4></p>
                        </div>
                    </div>
               </div>


               <div class="col-md-4">
               <div class="box">
                   <div class="home">
                       <div class="icon">
                          <img src="../images\home.png" alt="" width="150" height="75">
                           </div>
                           <h2>HOME ESSENTIALS</h2>
                           <p><h4>Covid Essentials</h4></p>
                           <p><h4>Antiseptic Liquids</h4></p>
                           <p><h4>Cleaning Essentials</h4></p>
                           <p><h4>Room Freshners</h4></p>
                        </div>
                    </div>
               </div>

                 <div class="col-md-4">
               <div class="box">
                   <div class="healths">
                       <div class="icon">
                          <img src="../images\healthnut.png" alt="" width="150" height="75">
                           </div>
                           <h2>HEALTH & NUTRITION</h2>
                           <p><h4>Vitamins & Supplements</h4></p>
                           <p><h4>Sports Nutrition</h4></p>
                           <p><h4>Health Food </h4></p>
                           <p><h4>health Drinks</h4></p>
                        </div>
                    </div>
               </div>




            </div>
        </div>
     </div> 
{{!-- </div> --}}
        

    